@page
@{
    ViewData["Title"] = "RemoveAccount";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1 class="display-4" style="text-align: center">Remove Account</h1>
<br />
<br />
<div class="card text-white bg-danger mb-3">
    <h5 class="card-header">Blacklist Account</h5>
    <div class="card-body">
        <p class="lead">To remove an account, please email <a href="mailto:inbox@dragonfruit.network">inbox@dragonfruit.network</a> with your account platform, iD and a screenshot of your UPlay client with the account logged in.</p>
    </div>
</div>
<br />